--------------------------------------------------------------
Install libraries
--------------------------------------------------------------
cd ~/Downloads/
git clone https://github.com/Seeed-Studio/grove.py
cd grove.py
sudo pip3 install . --break-system-packages

(Check list supported commands)
grove_ + <TAB> <TAB>